<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1: 20 Dec 2022</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td colspan="2" style="text-align:center"><strong>Lessons 10:00-12:00</strong></td>
      </tr>
      <tr>               <!-- row 3   -->
        <td rowspan="2" style="vertical-align:middle"><a href = "https://carpentries-incubator.github.io/fair-for-leaders/">FAIR for Leaders</a></td>
        <td>Why are we here</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>Being FAIR</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td colspan="2" style="text-align:center"><strong>Lunch break 12:00-13:00</strong></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td colspan="2" style="text-align:center"><strong>Lessons 13:00-16:00</strong></td>
      </tr>
      <tr>               <!-- row 3   -->
        <td rowspan="3" style="vertical-align:middle"><a href = "https://carpentries-incubator.github.io/fair-for-leaders/">FAIR for Leaders</a></td>
        <td>Tools for overlords</td>        <!-- content -->
      </tr>      
      <tr>               <!-- row 5   -->
        <td>Public repositories</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>It's all about planning</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td colspan="2" style="text-align:center"><strong>Optional PI clinic</strong></td>        <!-- time    -->
      </tr>
    </table>
  </div>
</div>
